<%@books.each do |x|%>
<div class="postview" style="text-align:center;">
<table class="type02">
    <tbody>
        <tr>
            <th scope="row">제목</th>
            <td> <%=x.book_title %></td>
        </tr>
        <tr>
          <th scope="row">저자</th>
        <td> <%=x.book_writer %></td>
        </tr>
        <tr>
             <th scope="row">분류</th>
            <td><%= x.book_group %></td> 
        </tr>
         <tr>
             <th scope="row">줄거리</th>
            <td><%= x.book_sum %></td> 
        </tr>
         <tr>
             <th scope="row">tmi</th>
            <td> <%= x.book_tmi %></td> 
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-default navbar-btn"><%= link_to "My List에 추가!", "/book/mylist/#{x.id}" %></button>
<br><br><hr>
<% end %>
<button type="button" class="btn btn-default navbar-btn"><%= link_to "back", :back %></button>

