
<% if user_signed_in? %>
  <%= link_to('로그아웃', destroy_user_session_path, :method => :delete, :class => 'item borderless') %>
<% else %>
  <%= link_to('로그인', new_user_session_path, :class => 'item borderless') %>
<% end %>


<%= form_tag news_search_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "검색", :name => nil %>
<% end %>

<!--랜덤뽑기-->
<form action='/home/result' method='post' data-remote="true">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type='submit' value='click!'> <br><br><br>
</form>

<div id="today_book"></div>
<a href='/home/index'>되돌아가기</a>
