<div class="postview">
<table class="type02">
    <tbody>
        <tr>
            <th scope="row">제목</th>
            <td> <%=@post.news_name%></td>
        </tr>
        <tr>
          <th scope="row"></th>
        <td><%=image_tag @post.image.thumb.url %></td>
        </tr>
        <tr>
             <th scope="row">내용</th>
            <td><%=@post.news_content %> </td> 
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-default navbar-btn"><%=submit_tag "submit"%></button>

<!--뉴스좋아요-->
<br>
<% if current_user.voted_for? @post %>
  <%= link_to "좋아요 취소", "/news/like/#{@post.id}" %>
<% else %>
<a href="/news/like/<%=@post.id%>" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a>
<%end%>
<%= @post.get_likes.size %>

<!--뉴스댓글-->
<%= link_to "삭제" , "/news/destroy/#{@post.id}" , class:"btn btn-default",role:"button"  %>
<%= link_to "수정" , "/news/edit/#{@post.id}" , class:"btn btn-default",role:"button" %>
</div>
<hr>

<%=form_tag("/news/#{@post.id}/comments/create", method: "post", remote: true) do%>
    <%=text_field_tag "comment", nil, placeholder:"comment"%>
    <%=submit_tag "submit"%>
<%end%>

<% @post.comments.each do |c|%>
    <%= c.content %>
    <%= link_to "삭제", "/news/#{@post.id}/comments/destroy/#{c.id}"  %>
    <%= link_to "수정", "/news/#{@post.id}/comments/edit/#{c.id}" %> <br>
<%end%>
    <br>
    <br>
    

<button type="button" class="btn btn-default navbar-btn"><%= link_to "back", :back %></button>
</div>
<!--플로팅배너-->
<div class="floating"> 
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
         <span class="card-title">단테의 신곡</span> <br>
         <img src="https://misc.ridibooks.com/cover/805023028/xxlarge" style="width:130px; height:160px;">
        </div>
        <div class="card-content">
          <p>책 추천해주는 배너 넣는곳</p>
        </div>
        <div class="card-action">
          <a href="/home/book">더 알아보세요</a>
        </div>
      </div>
    </div>
  </div>
</div>