<h1 style="text-align:center; font-family: 'Cabin Sketch', cursive; font-size:100px;"><%= link_to "REVIEW", "/post/new" %><br></h1>
<br>
<%@posts.each do |x|%>

<div class="list-group active" style="font-family: 'Gaegu', cursive; width: 20%; margin-left:20%; margin-bottom:5px;">
  <a href='/post/show/<%=x.id%>' class="list-group-item"><%=x.post_title%> </a> 
  <%=User.find(x.user_id).name%>

</div>
<%= link_to "삭제" , "/post/destroy/#{x.id}" %>
<%= link_to "수정" , "/post/edit/#{x.id}" %> <br></div>
<% end %>

<button type="button" class="btn btn-default navbar-btn"><%= link_to "back", :back %></button>



