<%= link_to "리뷰 쓰기", "/post/new" %><br>
<%@posts.each do |x|%>

<div class="list-group active" style="font-family: 'Gaegu', cursive;">
  <a href='/post/show/<%=x.id%>' class="list-group-item"><%=x.post_title%> </a>
</div>
<%= link_to "삭제" , "/post/destroy/#{x.id}" %>
<%= link_to "수정" , "/post/edit/#{x.id}" %> <br>
<% end %>
<%= link_to "back", :back %>



