제목 : <%=@post.post_title%> <br>
내용 : <%=@post.post_title %> <br>
별점 : <div id="star"></div>
<%= link_to "삭제" , "/post/destroy/#{@post.id}" %>
<%= link_to "수정" , "/post/edit/#{@post.id}" %>

<script>
    $('#star').raty({
        half:true,
        path: '/imgs',
        score: <%= @post.rating %>,
        readOnly: true
        });
</script>