<div class="postwriting">
제목 : <%=@post.post_title%> <br>
내용 : <%=@post.post_content %> <br>
별점 : <div id="star"></div>
<%= link_to "삭제" , "/post/destroy/#{@post.id}" %>
<%= link_to "수정" , "/post/edit/#{@post.id}" %>
</div>

<%= link_to "back", :back %>

<script>
    $('#star').raty({
        half:true,
        path: '/imgs',
        score: <%= @post.rating %>,
        readOnly: true
        });
</script>