<!DOCTYPE html>
<html>
<head>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!--한글폰트-->
<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
<!--영어폰트-->
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
<!--굿투잇템플릿-->
 <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:fixed;}</style>
<script type="text/javascript" src="https://bam.nr-data.net/1/c99d7f1ab0?a=31527391,90185088&amp;v=1071.385e752&amp;to=ZFAHNkNYXUBQVEUKXF0aIBpBS1ZAQl1CTHR2YUpNXFhBWFRDWA1UHkEAD0FVUkdUGkcKVkRQF01FXF5DXVZFBkAcDxEHXElfUkVSeAc%3D&amp;rst=3916&amp;ref=https://www.wix.com/website-template/view/html/1633/&amp;ap=2.802466&amp;be=397&amp;fe=3862&amp;dc=693&amp;tt=12940752caa8d40&amp;perf=%7B%22timing%22:%7B%22of%22:1534819690174,%22n%22:0,%22f%22:74,%22dn%22:74,%22dne%22:74,%22c%22:74,%22ce%22:74,%22rq%22:77,%22rp%22:315,%22rpe%22:323,%22dl%22:326,%22di%22:692,%22ds%22:692,%22de%22:692,%22dc%22:3861,%22l%22:3861,%22le%22:3887%7D,%22navigation%22:%7B%7D%7D&amp;jsonp=NREUM.setToken"></script>
<script src="https://js-agent.newrelic.com/nr-1071.min.js">
</script>
<!--로그인-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
</head>

<body>
 <!--navbar-->
<!--<ul class="nav nav-pills" style="font-family: 'Cabin Sketch', cursive; font-size:20px;">-->
<!--  <li role="presentation"><a href="/home/index">Home</a></li>-->
<!--  <li role="presentation"><a href="/news/index">News</a></li>-->
<!--  <li role="presentation"><a href="/post/index">Post</a></li>-->
<!--  <li role="presentation"><a href="/home/book">Book</a></li>-->
<!--  <li role="presentation"><a href="/home/index">random</a></li>-->
<!--  <li role="presentation"><a href="/book/check">My list</a></li>-->
<!--</ul>-->

 <header class="navbar" style="text-align:center; margin-left:50%;">
<div id="SITE_HEADERinlineContent" class="hc3inlineContent">

<style id="SITE_HEADER-content-area-styles">
    
#i3ik2blh {
    margin-left: calc((100% - 980px) * 0.5);
    position:fixed;
}

<div class="login" style="text-align:right;">
<% if user_signed_in? %>
  <%= link_to('로그아웃', destroy_user_session_path, :method => :delete, :class => 'item borderless') %>
<% else %>
  <%= link_to('로그인', new_user_session_path, :class => 'item borderless') %>
<% end %>
</div>


#i0xsmzxi {
    margin:auto;
    position:fixed;
}
</style>

<div style="min-height: 42px; min-width: 35px; left: 941px; width: 35px; position: fixed; top: 20px; height: 42px;" class="style-ijnj4ua3" id="i3ik2blh">
<iframe scrolling="no" frameborder="0" allow="autoplay; camera; microphone; geolocation; vr" allowtransparency="true" allowfullscreen="" name="i3ik2blh" style="display:block;width:100%;height:100%;overflow:hidden;position:fixed" title="Wix Stores" aria-label="Wix Stores" id="i3ik2blhiframe" class="style-ijnj4ua3iframe" >
</iframe>
<div id="i3ik2blhoverlay" class="style-ijnj4ua3overlay">
</div>
</div>

<style type="text/css" data-styleid="style-ijnj4ua3">
.style-ijnj4ua3 {overflow:hidden;}
.style-ijnj4ua3 iframe {position:fixed;width:100%;height:100%;overflow:hidden;}
.style-ijnj4ua3preloaderOverlay {position:fixed;top:0;left:0;color:#373737;width:100%;height:100%;}
.style-ijnj4ua3preloaderOverlaycontent {width:100%;height:100%;}
.style-ijnj4ua3unavailableMessageOverlay {position:fixed;top:0;left:0;color:#373737;width:100%;height:100%;}
.style-ijnj4ua3unavailableMessageOverlaycontent {width:100%;height:100%;background:rgba(255, 255, 255, 0.9);font-size:0;margin-top:5px;}
.style-ijnj4ua3unavailableMessageOverlaytextContainer {color:#373737;font-family:'Cabin Sketch', cursive; font-size:14px;display:inline-block;vertical-align:middle;width:100%;margin-top:10px;text-align:center;}
.style-ijnj4ua3unavailableMessageOverlayreloadButton {display:inline-block;}
.style-ijnj4ua3unavailableMessageOverlay a {color:#0099FF;text-decoration:underline;cursor:pointer;}
.style-ijnj4ua3unavailableMessageOverlayiconContainer {display:none;}
.style-ijnj4ua3unavailableMessageOverlaydismissButton {display:none;}
.style-ijnj4ua3unavailableMessageOverlaytextTitle {font-family:Cabin Sketch, cursive; display:none;}
.style-ijnj4ua3unavailableMessageOverlay[data-state~="hideIframe"]
.style-ijnj4ua3unavailableMessageOverlay_buttons {opacity:1;}
.style-ijnj4ua3unavailableMessageOverlay[data-state~="hideOverlay"] {display:none;}
</style>

<nav id="i0xsmzxi" style="left: 20%; width: 927px; position: fixed; top: 5px; height: 42px; overflow-x: visible; font-family: 'Cabin Sketch', cursive;" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" dir="ltr" class="style-ijnhn7j3" data-state="center notMobile" data-dropmode="dropDown">
  <ul style="text-align:center" aria-label="Site navigation" role="navigation" id="i0xsmzxiitemsContainer" class="style-ijnhn7j3itemsContainer">
  <li data-direction="ltr" data-listposition="left" data-data-id="bmi21dy" class="style-ijnhn7j3repeaterButton" data-state="menu selected idle link notMobile" id="i0xsmzxi0" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 155px; height: 42px; position: relative; box-sizing: border-box; overflow: visible;">
    <a role="button" tabindex="0" aria-haspopup="false" data-listposition="left" href="/home/index" target="_self" id="i0xsmzxi0linkElement" class="style-ijnhn7j3repeaterButtonlinkElement"><div class="style-ijnhn7j3repeaterButton_gapper">
      <div class="style-ijnhn7j3repeaterButton_wrapper">
      <div style="text-align:center" id="i0xsmzxi0bg" class="style-ijnhn7j3repeaterButtonbg"><p style="text-align: center; line-height: 42px;" id="i0xsmzxi0label" class="style-ijnhn7j3repeaterButtonlabel">
      Home </p></div></div></div></a></li>
      <li data-direction="ltr" data-listposition="center" data-data-id="bmi139n" class="style-ijnhn7j3repeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi1" data-original-gap-between-text-and-btn="2" aria-hidden="false" style="width: 155px; height: 42px; position: relative; box-sizing: border-box; overflow: visible;">
        <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/home/about" target="_self" id="i0xsmzxi1linkElement" class="style-ijnhn7j3repeaterButtonlinkElement">
          <div class="style-ijnhn7j3repeaterButton_gapper">
            <div class="style-ijnhn7j3repeaterButton_wrapper">
              <div style="text-align:center" id="i0xsmzxi1bg" class="style-ijnhn7j3repeaterButtonbg">
                <p style="text-align: center; line-height: 42px;" id="i0xsmzxi1label" class="style-ijnhn7j3repeaterButtonlabel">
                  About</p></div></div></div></a></li>
                  <li data-direction="ltr" data-listposition="center" data-data-id="bmitm" class="style-ijnhn7j3repeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi2" data-original-gap-between-text-and-btn="0" aria-hidden="false" style="width: 155px; height: 42px; position: relative; box-sizing: border-box; overflow: visible;">
                    <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/news/index" target="_self" id="i0xsmzxi2linkElement" class="style-ijnhn7j3repeaterButtonlinkElement"><div class="style-ijnhn7j3repeaterButton_gapper"><div class="style-ijnhn7j3repeaterButton_wrapper">
                      <div style="text-align:center" id="i0xsmzxi2bg" class="style-ijnhn7j3repeaterButtonbg"><p style="text-align: center; line-height: 42px;" id="i0xsmzxi2label" class="style-ijnhn7j3repeaterButtonlabel">
                        News</p></div></div></div></a></li>
                        <li data-direction="ltr" data-listposition="center" data-data-id="bmiwt" class="style-ijnhn7j3repeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi3" data-original-gap-between-text-and-btn="1" aria-hidden="false" style="width: 154px; height: 42px; position: relative; box-sizing: border-box; overflow: visible;">
                          <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/post/index" target="_self" id="i0xsmzxi3linkElement" class="style-ijnhn7j3repeaterButtonlinkElement">
                          <div class="style-ijnhn7j3repeaterButton_gapper"><div class="style-ijnhn7j3repeaterButton_wrapper"><div style="text-align:center" id="i0xsmzxi3bg" class="style-ijnhn7j3repeaterButtonbg"><p style="text-align: center; line-height: 42px;" id="i0xsmzxi3label" class="style-ijnhn7j3repeaterButtonlabel">
                            Post</p></div></div></div></a></li>
                            <li data-direction="ltr" data-listposition="center" data-data-id="bmi4al" class="style-ijnhn7j3repeaterButton" data-state="menu  idle link notMobile" id="i0xsmzxi4" data-original-gap-between-text-and-btn="1" aria-hidden="false" style="width: 154px; height: 42px; position: relative; box-sizing: border-box; overflow: visible;">
                              <a role="button" tabindex="0" aria-haspopup="false" data-listposition="center" href="/home/book" target="_self" id="i0xsmzxi4linkElement" class="style-ijnhn7j3repeaterButtonlinkElement"><div class="style-ijnhn7j3repeaterButton_gapper">
                                <div class="style-ijnhn7j3repeaterButton_wrapper"><div style="text-align:center" id="i0xsmzxi4bg" class="style-ijnhn7j3repeaterButtonbg"><p style="text-align: center; line-height: 42px;" id="i0xsmzxi4label" class="style-ijnhn7j3repeaterButtonlabel">
                                  Book</p></div></div></div></a></li>
<li data-listposition="right" class="style-ijnhn7j3repeaterButton" data-state="menu  idle header notMobile" id="i0xsmzxi__more__" data-original-gap-between-text-and-btn="0" aria-hidden="true" style="height: 0px; overflow: hidden; position: fixed;">
  <a role="button" tabindex="-1" aria-haspopup="true" data-listposition="right" id="i0xsmzxi__more__linkElement" class="style-ijnhn7j3repeaterButtonlinkElement">
  <div class="style-ijnhn7j3repeaterButton_gapper">
  <div class="style-ijnhn7j3repeaterButton_wrapper">
  <div style="text-align:center" id="i0xsmzxi__more__bg" class="style-ijnhn7j3repeaterButtonbg">
  <p style="text-align:center" id="i0xsmzxi__more__label" class="style-ijnhn7j3repeaterButtonlabel">
  More
</p>
</div>
</div>
</div>
</a>
</li>
</ul>
<div id="i0xsmzximoreButton" class="style-ijnhn7j3moreButton">
</div>
<nav style="visibility: hidden; left: fixed; right: 0px; bottom: auto;" data-drophposition="" data-dropalign="center" id="i0xsmzxidropWrapper" class="style-ijnhn7j3dropWrapper">
  <ul style="visibility: hidden; left: fixed; right: 0px;" id="i0xsmzximoreContainer" class="style-ijnhn7j3moreContainer">
  </ul></nav></nav>
  <style type="text/css" data-styleid="style-ijnhn7j3" >
.style-ijnhn7j3itemsContainer {width:calc(100% - 0px);height:calc(100% - 0px);white-space:nowrap;display:inline-block;overflow:visible;position:relative;}
.style-ijnhn7j3moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;}
.style-ijnhn7j3dropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:fixed;margin-top:7px;padding:15px 5px 0 5px;background-color:rgba(255, 255, 255, 1);border-radius:0;  }
.style-ijnhn7j3[data-dropmode="dropUp"] .style-ijnhn7j3dropWrapper {margin-top:0;margin-bottom:7px;}
.style-ijnhn7j3repeaterButton {height:100%;position:fixed;box-sizing:border-box;display:inline-block;}
.style-ijnhn7j3repeaterButton[data-state~="header"] a,.style-ijnhn7j3repeaterButton[data-state~="header"] div {cursor:default !important;}
.style-ijnhn7j3repeaterButtonlinkElement {display:inline-block;height:100%;width:100%;}
.style-ijnhn7j3repeaterButton_gapper {padding:0 0px;}
.style-ijnhn7j3repeaterButton_wrapper {cursor:pointer;font:normal normal normal 18px/1.4em fbgreen,'Cabin Sketch', cursive;;  border-top:1px solid rgba(51, 51, 51, 1);}
.style-ijnhn7j3repeaterButtonlabel {color:#333333;display:inline-block;padding:8px;}
.style-ijnhn7j3repeaterButton[data-listposition="left"] {padding-left:0;}
.style-ijnhn7j3repeaterButton[data-listposition="right"] {padding-right:0;}
.style-ijnhn7j3repeaterButton[data-state~="drop"] {width:100%;display:block;}
.style-ijnhn7j3repeaterButton[data-state~="over"] .style-ijnhn7j3repeaterButton_wrapper,.style-ijnhn7j3repeaterButton[data-preview~="hover"] .style-ijnhn7j3repeaterButton_wrapper {border-top-width:4px;border-top-color:rgba(226, 112, 90, 1);}
.style-ijnhn7j3repeaterButton[data-state~="over"] .style-ijnhn7j3repeaterButtonlabel,.style-ijnhn7j3repeaterButton[data-preview~="hover"] .style-ijnhn7j3repeaterButtonlabel {color:#E2705A;display:inline-block;padding-top:5px;}
.style-ijnhn7j3repeaterButton[data-state~="selected"] .style-ijnhn7j3repeaterButton_wrapper,.style-ijnhn7j3repeaterButton[data-preview~="active"] .style-ijnhn7j3repeaterButton_wrapper {border-top-width:4px;border-top-color:rgba(51, 51, 51, 1);}
.style-ijnhn7j3repeaterButton[data-state~="selected"] .style-ijnhn7j3repeaterButtonlabel,.style-ijnhn7j3repeaterButton[data-preview~="active"] .style-ijnhn7j3repeaterButtonlabel {color:#333333;display:inline-block;padding-top:5px;}</style></div>
</div>
</header>
<%= yield %>

  
</div>
</body>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">
                  이화여자대학교 한송이<br>
                  동국대학교 정영준<br>
                  이화여자대학교 박한울<br>
                  Copyright 2018. Brunch. All rights reserved.
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
        </footer>
</html>

